<header hide-gt-md ng-include="'/views/partials/header.html'"></header>

<div layout="column" layout-fill ng-cloak>

    <section layout="row" flex>

        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
            <div class="starr-sidenav">
                <img ng-src="./images/starrhealthlogo.png" />
                <p class="starr-sidenav-text">Starr Health Co.</p>
                <h1 class="lead">Welcome {{vm.userObject.userName}}!</h1>
            </div>
            <md-content layout-padding hide show-gt-md flex>
                <md-button class="md-raised md-primary" flex ng-click="vm.superAdminHome()">
                    <i class="material-icons home">home</i>
                    <span>Home Page</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.superAdminCreateCoach()">
                    <i class="material-icons note-add">note_add</i>
                    <span>Admin - Add Coach</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.superAdminNewSchool()">
                    <i class="material-icons note-add">note_add</i>
                    <span>Admin - Add School</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.superAdminStudentDirectory()">
                    <i class="material-icons list">list</i>
                    <span>Admin - Student Directory</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.superCoachDirectory()">
                    <i class="material-icons list">list</i>
                    <span>Admin - Coach Directory</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.superAdminSchoolDirectory()">
                    <i class="material-icons list">list</i>
                    <span>Admin - School Directory</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.superAdminAllAppointments()">
                    <i class="material-icons date-range">date_range</i>
                    <span>Admin - All Appointments</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.superAdminCoachSchedule()">
                    <i class="material-icons date-range">date_range</i>
                    <span>Coach - Schedule</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.superAdminCoachAllAppointments()">
                    <i class="material-icons date-range">date_range</i>
                    <span>Coach - All Appointments</span>
                </md-button>
                <br />
                <md-button class="md-raised md-warn" flex ng-click="vm.userService.logout()">
                    <i class="material-icons exit-app">exit_to_app</i>
                    <span>Log Out</span>
                </md-button>
            </md-content>
            <md-content layout-padding hide-gt-md flex>
                <md-button class="md-raised md-primary" flex ng-click="vm.superAdminHome()">
                    <i class="material-icons home">home</i>
                    <span>Home Page</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.superAdminCreateCoach()">
                    <i class="material-icons note-add">note_add</i>
                    <span>Admin - Add Coach</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.superAdminNewSchool()">
                    <i class="material-icons note-add">note_add</i>
                    <span>Admin - Add School</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.superAdminStudentDirectory()">
                    <i class="material-icons list">list</i>
                    <span>Admin - Student Directory</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.superCoachDirectory()">
                    <i class="material-icons list">list</i>
                    <span>Admin - Coach Directory</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.superAdminSchoolDirectory()">
                    <i class="material-icons list">list</i>
                    <span>Admin - School Directory</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.superAdminAllAppointments()">
                    <i class="material-icons date-range">date_range</i>
                    <span>Admin - All Appointments</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.superAdminCoachSchedule()">
                    <i class="material-icons date-range">date_range</i>
                    <span>Coach - Schedule</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.superAdminCoachAllAppointments()">
                    <i class="material-icons date-range">date_range</i>
                    <span>Coach - All Appointments</span>
                </md-button>
                <br />
                <md-button class="md-raised md-warn" flex ng-click="vm.userService.logout()">
                    <i class="material-icons exit-app">exit_to_app</i>
                    <span>Log Out</span>
                </md-button>
            </md-content>
        </md-sidenav>

            <!-- Put Content In This Div! -->

                <md-card class="create-coach">
                    <br>
                    <br>
                <md-input-container>
                    <label class="blackLabel" for="schoolName">School Name:</label>
                    <input type="text" name="schoolName" ng-model="vm.schoolInfo.school_name">
                </md-input-container>
                
                <md-input-container>
                    <label class="blackLabel" for="schoolCode">School Code:</label>
                    <input type="password" name="schoolCode" ng-model="vm.schoolInfo.school_code">
                </md-input-container>
                
                <md-input-container>
                    <label class="blackLabel" for="accounts">Number of Student Accounts:</label>
                    <input type="text" name="accounts" ng-model="vm.schoolInfo.total_accounts">
                </md-input-container>
                
                <md-input-container>
                    <label class="blackLabel" for="schoolCode">School Code:</label>
                    <input type="password" name="schoolCode" ng-model="vm.schoolInfo.school_code">
                </md-input-container>
                
                <md-input-container>
                    <label class="blackLabel" for="accounts">Number of Student Accounts:</label>
                    <input type="text" name="accounts" ng-model="vm.schoolInfo.total_accounts">
                </md-input-container>
                
                <md-input-container>
                    <label class="blackLabel" for="sessions">Number of Sessions per Student:</label>
                    <input type="text" name="sessions" ng-model="vm.schoolInfo.student_sessions">
                </md-input-container>
                <div>
                    <md-button class="md-raised md-primary defaultBtn" ng-click="vm.addSchool(vm.schoolInfo)">Next</md-button>
                    <md-button class="md-raised md-primary defaultBtn" ng-click="vm.adminHome()">Back</md-button>
                </div>
            </md-card>
            <!-- End Put Content In This Div! -->

    </section>

</div>