<header class="ng-cloak" hide-gt-md ng-include="'/views/partials/header.html'"></header>

<div class="ng-cloak" layout="column" layout-fill>

    
    <section layout="row" flex>
        <!-- Start md-sidenav -->
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
            <div class="starr-sidenav">
                <img ng-src="./images/starrhealthlogo.png" />
                <p class="starr-sidenav-text">Starr Health Co.</p>
                <h1 class="lead">Welcome {{vm.userObject.userName}}!</h1>
            </div>
            <md-content layout-padding hide show-gt-md flex>
                <md-button class="md-raised md-primary" flex ng-click="vm.adminHome()">
                    <i class="material-icons home">home</i>
                    <span>Home Page</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.adminCreateCoach()">
                    <i class="material-icons note-add">note_add</i>
                    <span>Add Coach</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.adminNewSchool()">
                    <i class="material-icons note-add">note_add</i>
                    <span>Add School</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.adminStudentDirectory()">
                    <i class="material-icons list">list</i>
                    <span>Student Directory</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.adminCoachDirectory()">
                    <i class="material-icons list">list</i>
                    <span>Coach Directory</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary selectedBtn" flex ng-click="vm.adminSchoolDirectory()">
                    <i class="material-icons list">list</i>
                    <span>School Directory</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.adminAllApointments()">
                    <i class="material-icons date-range">date_range</i>
                    <span>All Appointments</span>
                </md-button>
                <br />
                <md-button class="md-raised md-warn" flex ng-click="vm.userService.logout()">
                    <i class="material-icons exit-app">exit_to_app</i>
                    <span>Log Out</span>
                </md-button>
            </md-content>
            <md-content layout-padding hide-gt-md flex>
                <md-button class="md-raised md-primary" flex ng-click="vm.adminHome()">
                    <i class="material-icons home">home</i>
                    <span>Home Page</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.adminCreateCoach()">
                    <i class="material-icons note-add">note_add</i>
                    <span>Add Coach</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.adminNewSchool()">
                    <i class="material-icons note-add">note_add</i>
                    <span>Add School</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.adminStudentDirectory()">
                    <i class="material-icons list">list</i>
                    <span>Student Directory</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.adminCoachDirectory()">
                    <i class="material-icons list">list</i>
                    <span>Coach Directory</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary selectedBtn" flex ng-click="vm.adminSchoolDirectory()">
                    <i class="material-icons list">list</i>
                    <span>School Directory</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.adminAllApointments()">
                    <i class="material-icons date-range">date_range</i>
                    <span>All Appointments</span>
                </md-button>
                <br />
                <md-button class="md-raised md-warn" flex ng-click="vm.userService.logout()">
                    <i class="material-icons exit-app">exit_to_app</i>
                    <span>Log Out</span>
                </md-button>
            </md-content>
        </md-sidenav>
        <!-- End md-sidenav -->
        <div class="overflow-1" flex layout="row" layout-align="center center">
            <!-- Start School Directory Card -->
            <md-container flex class="content-element content-element-text" layout="column" layout-align="center center">
                <div flex class="div-element" layout="column" layout-align="center center">
                    <md-card flex class="card-element md-padding" layout="column" layout-align="center center">
                        <h2 class="school-directory-title">Admin School Directory</h2>
                    </md-card>
                    <md-card flex class="card-element md-padding" layout="column" layout-align="center center">
                        <table class="table">
                            <thead class="table-thead">
                                <tr class="table-tr">
                                    <th class="table-th" scope="col">School Name</th>
                                    <th class="table-th" scope="col">School Code</th>
                                    <th class="table-th" scope="col">Number of Student Accounts</th>
                                    <th class="table-th" scope="col">Number of Sessions per Student</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="school in vm.allSchools.list">
                                <tr class="table-tr">
                                    <td class="table-td" scope="row" data-label="School Name">{{school.school_name}}</td>
                                    <td class="table-td" scope="row" data-label="School Code">{{school.school_code}}</td>
                                    <td class="table-td" scope="row" data-label="Number of Student Accounts">{{school.total_accounts}}</td>
                                    <td class="table-td" scope="row" data-label="Number of Sessions per Student">{{school.student_sessions}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </md-card>
                </div>
            </md-container>
            <!-- End School Directory Card -->
        </div>

    </section>

</div>