<header class="ng-cloak" hide-gt-md ng-include="'/views/partials/header.html'"></header>

<div class="ng-cloak" layout="column" layout-fill>

    <section layout="row" flex>
        <!-- Start md-sidenav -->
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
            <div class="starr-sidenav">
                <img ng-src="./images/starrhealthlogo.png" />
                <p class="starr-sidenav-text">Starr Health Co.</p>
                <h1 class="lead">Welcome {{vm.userObject.userName}}!</h1>
            </div>
            <md-content layout-padding hide show-gt-md flex>
                <md-button class="md-raised md-primary" flex ng-click="vm.superAdminHome()">
                    <i class="material-icons home">home</i>
                    <span>Home Page</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.superAdminCreateCoach()">
                    <i class="material-icons note-add">note_add</i>
                    <span>Admin - Add Coach</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.superAdminNewSchool()">
                    <i class="material-icons note-add">note_add</i>
                    <span>Admin - Add School</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.superAdminStudentDirectory()">
                    <i class="material-icons list">list</i>
                    <span>Admin - Student Directory</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.superCoachDirectory()">
                    <i class="material-icons list">list</i>
                    <span>Admin - Coach Directory</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.superAdminSchoolDirectory()">
                    <i class="material-icons list">list</i>
                    <span>Admin - School Directory</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary selectedBtn" flex ng-click="vm.superAdminAllAppointments()">
                    <i class="material-icons date-range">date_range</i>
                    <span>Admin - All Appointments</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.superAdminCoachSchedule()">
                    <i class="material-icons date-range">date_range</i>
                    <span>Coach - Schedule</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.superAdminCoachAllAppointments()">
                    <i class="material-icons date-range">date_range</i>
                    <span>Coach - All Appointments</span>
                </md-button>
                <br />
                <md-button class="md-raised md-warn" flex ng-click="vm.userService.logout()">
                    <i class="material-icons exit-app">exit_to_app</i>
                    <span>Log Out</span>
                </md-button>
            </md-content>
            <md-content layout-padding hide-gt-md flex>
                <md-button class="md-raised md-primary" flex ng-click="vm.superAdminHome()">
                    <i class="material-icons home">home</i>
                    <span>Home Page</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.superAdminCreateCoach()">
                    <i class="material-icons note-add">note_add</i>
                    <span>Admin - Add Coach</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.superAdminNewSchool()">
                    <i class="material-icons note-add">note_add</i>
                    <span>Admin - Add School</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.superAdminStudentDirectory()">
                    <i class="material-icons list">list</i>
                    <span>Admin - Student Directory</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.superCoachDirectory()">
                    <i class="material-icons list">list</i>
                    <span>Admin - Coach Directory</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.superAdminSchoolDirectory()">
                    <i class="material-icons list">list</i>
                    <span>Admin - School Directory</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary selectedBtn" flex ng-click="vm.superAdminAllAppointments()">
                    <i class="material-icons date-range">date_range</i>
                    <span>Admin - All Appointments</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.superAdminCoachSchedule()">
                    <i class="material-icons date-range">date_range</i>
                    <span>Coach - Schedule</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.superAdminCoachAllAppointments()">
                    <i class="material-icons date-range">date_range</i>
                    <span>Coach - All Appointments</span>
                </md-button>
                <br />
                <md-button class="md-raised md-warn" flex ng-click="vm.userService.logout()">
                    <i class="material-icons exit-app">exit_to_app</i>
                    <span>Log Out</span>
                </md-button>
            </md-content>
        </md-sidenav>
        <!-- End md-sidenav -->
        <div class="overflow-1" flex layout="row" layout-align="center center">
            <!-- Start Appointment Card -->
            <md-content flex class="content-element content-element-text" layout="column" layout-align="center center">
                <div flex class="div-element" layout="column" layout-align="center center">
                    <md-card flex class="card-element md-padding" layout="column" layout-align="center center">
                        <h2 class="all-appointments-title">Super Admin All Appointments</h2>
                    </md-card>
                    <md-card flex class="card-element md-padding" layout="column" layout-align="center center">
                        <table class="table">
                            <thead class="table-thead">
                                <tr class="table-tr">
                                    <th class="table-th" scope="col">Appt. Date</th>
                                    <th class="table-th" scope="col">Appt. Time</th>
                                    <th class="table-th" scope="col">Coach Name</th>
                                    <th class="table-th" scope="col">Student Name</th>
                                    <th class="table-th" scope="col">School Name</th>
                                    <th class="table-th" scope="col">Student Goal</th>
                                    <th class="table-th" scope="col">Session Number</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="data in vm.allAppts.list">
                                <tr class="table-tr">
                                    <td class="table-td" scope="row" data-label="Appt. Date">{{data.date}}</td>
                                    <td class="table-td" scope="row" data-label="Appt. Time">{{data.available_time}}</td>
                                    <td class="table-td" scope="row" data-label="Coach Name">{{data.coach_first}} {{data.coach_last}}</td>
                                    <td class="table-td" scope="row" data-label="Student Name">{{data.student_first}} {{data.student_last}}</td>
                                    <td class="table-td" scope="row" data-label="School Name">{{data.school_name}}</td>
                                    <td class="table-td" scope="row" data-label="Student Goal">{{data.specialty_name}}</td>
                                    <td class="table-td" scope="row" data-label="Session Number">{{data.sessions_used}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </md-card>
                </div>
            </md-content>
            <!-- End Appointment Card -->
        </div>

    </section>
</div>