@font-face {
  font-family: CallunaSans;
  src: url("./fonts/CallunaSans-Regular.woff") format("woff");
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: CallunaSans;
  font-size: 14px;
}

.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
}

.instructions {
  background-color: #333333;
  color: #DDDDDD;
  padding: 15px;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container p {
  margin-top: 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
  background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger {
  margin-left: 10px;
}

.navbar {
  background-color: #333333;
  width: 100%;
  border-radius: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */

li a:hover {
  text-decoration: underline;
  color: #eee;
}

header {
  background-color: #1686B4;
  color: #FFF;
}

.starr-sidenav {
  text-align: center;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.3);
}

.menu {
  color: #FFF;
}

.starr-sidenav-text {
  text-align: center;
  font-size: 35px;
  color: #FFF;
  font-weight: bold;
  margin: 10px 0 10px 0;
}

.landingText {
  text-align: center;
  font-family: sans-serif;
  color: rgba(247 232 241);
  font-size: 20px;
}

.landingBtns {
  text-align: center;
}

.landingPage {
  background: url(../images/landingPageBackground.png) no-repeat center center fixed;
  height: auto;
  width: auto;
}

.starr-logo-header {
  zoom: 50%;
}

.starr-landing {
  text-align: center;
  font-size: 35px;
  color: #FFF;
  font-weight: bold;
}

.starr-text-header {
  padding: 0 0 0 10px;
  vertical-align: middle;
  align-items: center;
  display: flex;
}

.starr-header {
  vertical-align: middle;
  align-items: center;
  display: flex;
}

.exit-app {
  display: inline-flex;
  vertical-align: middle;
  padding: 0 10px 10px 0;
}

.home {
  display: inline-flex;
  vertical-align: middle;
  padding: 0 10px 10px 0;
}

.list {
  display: inline-flex;
  vertical-align: middle;
  padding: 0 10px 5px 0;
}

.date-range {
  display: inline-flex;
  vertical-align: middle;
  padding: 0 10px 10px 0;
}

.group {
  display: inline-flex;
  vertical-align: middle;
  padding: 0 10px 10px 0;
}

.person {
  display: inline-flex;
  vertical-align: middle;
  padding: 0 10px 10px 0;
}

.lead {
  color: white;
}

md-sidenav.md-default-theme,
md-sidenav,
md-sidenav.md-default-theme md-content,
md-sidenav md-content {
  background-color: rgba(0, 0, 0, 0.3);
}

.layout-fill {
  content: "";
  background: url(/images/landingPageBackground.png) no-repeat center center fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
}