@font-face {
  font-family: CallunaSans;
  src: url("./fonts/CallunaSans-Regular.woff") format("woff");
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: CallunaSans !important;
  font-size: 14px;
  overflow: hidden
}

body {
  min-height: 100%;
  overflow: hidden;
  top: 0px !important;
}

.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
}

.instructions {
  background-color: #333333;
  color: #DDDDDD;
  padding: 15px;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container p {
  margin-top: 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
  background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger {
  margin-left: 10px;
}

.navbar {
  background-color: #333333;
  width: 100%;
  border-radius: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */

li a:hover {
  text-decoration: underline;
  color: #eee;
}

header {
  background-color: #1686B4;
  color: #FFF;
}

.starr-sidenav {
  text-align: center;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 8px 4px 4px 4px;
}

.menu {
  color: #FFF;
}

.starr-sidenav-text {
  text-align: center;
  font-size: 35px;
  color: #FFF;
  font-weight: bold;
  margin: 10px 0 10px 0;
}

.landingText {
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  font-size: 20px;
}

.landingBtns {
  text-align: center;
}

.landingPage {
  background: url(../images/newLandingPage.png) no-repeat center center fixed;
  height: auto;
  width: auto;
}

.loginPage {
  background: url(../images/newLandingPage.png) no-repeat center center fixed;
  text-align: center;
}

.registerPage {
  background: url(../images/newLandingPage.png) no-repeat center center fixed;
  text-align: center;
}

.registration-view-text {
  font-size: 18px;
  text-align: center;
}

md-radio-button.md-checked.my-radio .md-on {
  color: rgba(0, 0, 0, 0.7);
}

md-radio-button.radio .md-off {
  border-color: rgba(0, 0, 0, 0.7);
}

md-radio-button.md-checked.radio .md-on {
  background-color: rgba(7, 61, 128, 0.8);
}

md-radio-button div.md-label {
  margin-left: 0;
  margin-right: 0;
}

md-checkbox.md-checked .md-icon {
  background: rgba(7, 61, 128, 0.8);
}

.starr-logo-header {
  zoom: 50%;
}

.starr-landing {
  text-align: center;
  font-size: 35px;
  color: rgba(7, 61, 128, 0.8);
  font-weight: bold;
}

.starr-text-header {
  padding: 0 0 0 10px;
  vertical-align: middle;
  align-items: center;
  display: flex;
}

.starr-header {
  vertical-align: middle;
  align-items: center;
  display: flex;
}

.exit-app {
  display: inline-flex;
  vertical-align: middle;
  padding: 0 10px 10px 0;
}

.home {
  display: inline-flex;
  vertical-align: middle;
  padding: 0 10px 10px 0;
}

.list {
  display: inline-flex;
  vertical-align: middle;
  padding: 0 10px 5px 0;
}

.date-range {
  display: inline-flex;
  vertical-align: middle;
  padding: 0 10px 10px 0;
}

.note-add {
  display: inline-flex;
  vertical-align: middle;
  padding: 0 10px 10px 0;
}

.group {
  display: inline-flex;
  vertical-align: middle;
  padding: 0 10px 10px 0;
}

.person {
  display: inline-flex;
  vertical-align: middle;
  padding: 0 10px 10px 0;
}

.lead {
  color: white;
  padding: 4px;
}

md-sidenav.md-default-theme,
md-sidenav,
md-sidenav.md-default-theme md-content,
md-sidenav md-content {
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
}

.layout-fill {
  content: "";
  background: url(../images/landingPageBackground2.png) no-repeat center center fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
}

button.md-raised.md-warn.md-button.md-ink-ripple.flex {
  min-height: 50px;
  min-width: 255px;
  text-align: left;
  background-color: #d3394b;
}

button.md-raised.md-primary.md-button.md-ink-ripple.flex {
  min-height: 50px;
  min-width: 255px;
  text-align: left;
  background-color: #1686B4;
}

button.md-raised.md-primary.LandingBtns.md-button.md-ink-ripple {
  background-color: rgba(7, 61, 128, 0.8);
  color: white;
}

a.md-raised.md-primary.LandingBtns.md-button.md-ink-ripple {
  background-color: rgba(7, 61, 128, 0.8);
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

.main-container {
  overflow: hidden;
}

.label-items {
  color: rgba(0, 0, 0, 0.7);
}

.label-items2 {
  color: rgba(126, 63, 63, 0.7);
}

.student-goals-title {
  color: rgba(7, 61, 128, 0.8);
}

.student-goals {
  width: 50%;
  overflow: scroll;
  background: rgba(255, 255, 255, 0.9);
}

.student-goals-mobile {
  background: rgba(255, 255, 255, 0.9);
  overflow: scroll;
  width: 95%;
}

.home-card {
  background: rgba(255, 255, 255, 0.9);
}

.login-card {
  background: rgba(255, 255, 255, 0.9);
}

.login-title {
  color: rgba(7, 61, 128, 0.8);
  font-weight: bold;
}

.text-label {
  color: rgba(0, 0, 0);
}

.general-title {
  color: rgba(7, 61, 128, 0.8);
  text-align: center;
  font-weight: bold;
}

.general-info {
  width: 50%;
  overflow: scroll;
  background: rgba(255, 255, 255, 0.9);
}

.general-info-mobile {
  background: rgba(255, 255, 255, 0.9);
  overflow: scroll;
}

.additional-info-title {
  color: rgba(7, 61, 128, 0.8);
}

.additional-info-mobile {
  background: rgba(255, 255, 255, 0.9);
  overflow: scroll;
}

.additional-info {
  width: 50%;
  overflow: scroll;
  background: rgba(255, 255, 255, 0.9);
}

.student-barriers {
  width: 50%;
  overflow: scroll;
  background: rgba(255, 255, 255, 0.9);
}

.student-barriers-mobile {
  background: rgba(255, 255, 255, 0.9);
  overflow: scroll;
  width: 95%;
}

.student-barriers-title {
  color: rgba(7, 61, 128, 0.8);
}

.register-card {
  background: rgba(255, 255, 255, 0.9);
}

.register-title {
  color: rgba(7, 61, 128, 0.8);
  font-weight: bold;
}

.disclaimer {
  width: 50%;
  overflow: scroll;
  background: rgba(255, 255, 255, 0.9);
}

.disclaimer-mobile {
  background: rgba(255, 255, 255, 0.9);
}

.disclaimer-title {
  color: rgba(7, 61, 128, 0.8);
  font-size: 30px;
}

.specialties-items {
  color: white;
}

md-select span {
  color: rgba(0, 0, 0, 0.85);
}

md-datepicker span {
  color: rgba(0, 0, 0, 0.85);
}

.blackLabel {
  color: rgba(0, 0, 0, 0.85);
}

.general-info-select {
  max-width: 189px;
  max-height: 26px;
  margin-left: auto;
  margin-right: auto;
}

button.md-raised.md-primary.defaultBtn.md-button.md-ink-ripple {
  background-color: #1686B4;
}

a.md-raised.md-primary.defaultBtn.md-button.md-ink-ripple {
  background-color: #1686B4;
}

md-input-container.other-barriers {
  margin: 0 0 0 0;
  padding: 0 8px 0 8px;
}

.create-coach {
  font-size: 13px;
  height: 700px;
  width: 350px;
  background: rgba(255, 255, 255, 0.9);
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding: 15px;
  text-align: center;
  color:black;
}
.create-school {
  font-size: 13px;
  height: 700px;
  width: 350px;
  background: rgba(255, 255, 255, 0.9);
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom:auto;
  padding: 15px;
  text-align: center;
  color:black;
}
.blackLabel{
  color:rgba(0, 0, 0, 0.85);
}
md-select span{
  color: rgba(0, 0, 0, 0.85);
}

button.md-raised.md-primary.defaultBtn.md-button.md-ink-ripple {
  background-color: #1686B4;
}

.create-schedule {
  font-size: 20px;
  height: 700px;
  width: 1100px;
  background: rgba(255, 255, 255, 0.9);
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom:auto;
  padding: 10px;
  text-align: center;
  color:black;
}
.schedule-title {
  color: #1686B4; 
  font-size:30px;
}
.timeSlot{
  width: 85px;
  margin-right: auto;
  margin-left: auto;
  /* display: inline-block; */
  
}
.cardBack{
  /* background-color: rgb(22, 134, 180, 0.4);  */
  background: rgba(255, 255, 255, 0.8);
  padding: 9px;
}
button.md-raised.md-primary.defaultBtn.scheduleBtn.md-button.md-ink-ripple {
  background-color: #1686B4;
  width: 125px;
  margin-right: auto;
  margin-left: auto;
}