<div class="container landingPage" ng-cloak layout-fill layout="column" layout-align="center center">
    <md-card class="home-card">
        <br>
        <br>
        <div layout-padding class="starr-landing">
            <img ng-src="./images/starrhealthlogo.png" />
            <p>Starr Health Co.</p>
        </div>
        <br>
        <br>
        <div class="landingText">
            <p>ALL WOMEN ARE
                <br> ON
                <br> THE RISE,</p>
            <br>
            <p>LET US BE YOUR
                <br> CATALYST</p>
        </div>
        <br>
        <div class="landingBtns">
            <md-input-container>
                <md-button class="md-raised md-primary LandingBtns" ng-href="/#!login">Log In</md-button>
            </md-input-container>
            <md-input-container>
                <md-button class="md-raised md-primary LandingBtns" ng-href="/#!register">I'm New</md-button>
            </md-input-container>
        </div>
    </md-card>
</div>