<div class="container loginPage" ng-cloak layout-fill layout="column" layout-align="center center">
        <md-card style="height:350px; width:280px; background:rgba(255, 255, 255, 0.9);">
        <h1 style="color:rgba(7, 61, 128, 0.8); font-weight: bold;" class="lead">Login</h1>
          <h1 class="lead alert alert-danger" role="alert" ng-if="vm.message != ''">{{vm.message}}</h2>
          <form ng-submit="vm.login()">
            <md-input-container>
                <label style="color:rgba(0, 0, 0, 0.7);" for="username">Username:</label>
                <input style="color:rgba(0, 0, 0, 0.7);" type="text" ng-model="vm.user.username" />
            </md-input-container>
            <md-input-container>
                <label style="color:rgba(0, 0, 0, 0.7);" for="password">Password:</label>
                <input style="color:rgba(0, 0, 0, 0.7);" type="password" ng-model="vm.user.password" />
            </md-input-container>
            <md-input-container>
                <md-button style="background-color: rgba(7, 61, 128, 0.8); color: white;" type="submit" name="submit" value="Log In">Log in</md-button>
                <md-button style="background-color: rgba(7, 61, 128, 0.8); color: white;" ng-href="/#!home">Back</md-button>
            </md-input-container>
          </form>
        </md-card>
      </div>