<div layout="column" ng-cloak class="md-inline-form">
        <md-content layout="column" layout-padding> 
        <h2>Additional Information</h2>
        <md-content >
                <label>Are you currently working with any mental health or medical professionals?</label>
        <md-radio-group layout="column" layout-padding ng-model="vm.info.medical_bool">
                
            <md-radio-button value="false">No</md-radio-button>
            <md-radio-button value="true">Yes</md-radio-button>
        </md-radio-group>
    </md-content>

    <label for="medical_explain">If yes, explain:</label>
          <section>
            <input type="text" name="medical_explain" ng-model="vm.info.medical_explain" placeholder="Explain.."/>
        </section>
    </md-content>

    <md-content layout="column" layout-padding>
            <label>Do you have anything else you would like us to know?</label>
      <md-radio-group layout="column" layout-padding ng-model="vm.info.other_bool">

            <md-radio-button value="false">No</md-radio-button>
            <md-radio-button value="true">Yes</md-radio-button>
        </md-radio-group>

    <label for="other_explain">If yes, explain:</label>
        <section>
            <input type="text" name="other_explain" ng-model="vm.info.other_explain" placeholder="Explain.."/>
        </section>
    </md-content>
      <div class="container">
        <md-button class="md-raised md-primary" ng-click="vm.collectExtraInfo(vm.info)">Submit</md-button>
    </div>