<div layout-fill layout="column" layout-align="center center" class="registration-view-text ng-cloak">

    <md-card class="card-element md-padding">
        <div id="myProgress5">
            <div id="myBar5">
                <div class="progress-bar-text">5/5</div>
            </div>
        </div>
        <div layout-padding class="starr-landing">
            <img ng-src="./images/starrhealthlogo.png" />
            <p class="home-page-text">Starr Health Co.</p>
        </div>
        <h2 class="additional-info-title">Additional Information</h2>
        <label class="label-items">Are you currently working with any mental health or medical professionals?</label>
        <br />
        <div layout-align="center center">
            <md-radio-group layout="row" layout-align="center center" ng-model="vm.info.medical_bool">
                <md-radio-button class="label-items radio-value" value="false">No</md-radio-button>
                <md-radio-button class="label-items radio-value" value="true">Yes</md-radio-button>
            </md-radio-group>
            <br />
            <br />
            <md-input-container flex>
                <label class="label-items overflow" for="explain">If yes, explain:</label>
                <input class="label-items" type="text" name="medical_explain" ng-model="vm.info.medical_explain" />
            </md-input-container>
        </div>
        <label class="label-items">Do you have anything else you would like us to know?</label>
        <br />
        <div layout-align="center center">
            <md-radio-group layout="row" layout-align="center center" ng-model="vm.info.other_bool">
                <md-radio-button class="label-items radio-value" value="false">No</md-radio-button>
                <md-radio-button class="label-items radio-value" value="true">Yes</md-radio-button>
            </md-radio-group>
            <br />
            <br />
            <md-input-container flex>
                <label class="label-items overflow" for="explain">If yes, explain:</label>
                <input class="label-items" type="text" name="other_explain" ng-model="vm.info.other_explain" />
            </md-input-container>
        </div>
        <md-container>
            <md-button class="md-raised md-primary defaultBtn" ng-click="vm.collectExtraInfo(vm.info)">Submit</md-button>
        </md-container>
    </md-card>

</div>