<div class="disclaimer-view-text ng-claok" layout-fill layout="column" layout-align="center center">
    <md-card class="disclaimer-element md-padding">
        <div id="myProgress">
            <div id="myBar">
                <div class="progress-bar-text">1/5</div>
            </div>
        </div>
        <div layout-padding class="starr-landing">
            <img ng-src="./images/starrhealthlogo.png" />
            <p class="home-page-text">Starr Health Co.</p>
        </div>
        <div>
            <h2 class="disclaimer-title">Disclaimer</h2>
            <h4 class="label-items disclaimer-text">
                <i>This application, and any information or materials provided in connection with it, is informational only
                    and does not constitute medical advice, care, diagnosis or treatment. The Starr Health Co. application
                    is not intended to be a replacement or substitution to the medical advice, care, diagnosis or treatment
                    of a licensed medical practitioner. Starr Health Co. recommends that you consult your physician prior
                    to beginning any new health initiative.
                </i>
            </h4>
        </div>
        <div>
            <md-button class="md-raised md-primary defaultBtn" ng-click="vm.userService.logout()">Reject</md-button>
            <md-button class="md-raised md-primary defaultBtn" ng-click="vm.getSchools()">Agree</md-button>
        </div>
    </md-card>
</div>