<div layout-fill layout="column" layout-align="center center" class="registration-view-text ng-cloak">

    <md-card class="card-element md-padding">
        <div id="myProgress2">
            <div id="myBar2">
                <div class="progress-bar-text">2/5</div>
            </div>
        </div>
        <div layout-padding class="starr-landing">
            <img ng-src="./images/starrhealthlogo.png" />
            <p class="home-page-text">Starr Health Co.</p>
        </div>
        <h2 class="general-title">General Info</h2>
        <div layout-align="center center">
            <md-input-container flex>
                <label class="text-label" for="firstName">First Name:</label>
                <input class="text-label" type="text" name="firstName" ng-model="vm.generalStudent.first_name">
            </md-input-container>
            <md-input-container flex>
                <label class="text-label" for="lastName">Last Name:</label>
                <input class="text-label" type="text" name="lastName" ng-model="vm.generalStudent.last_name" />
            </md-input-container>
        </div>
        <br />
        <div layout-align="center center">
            <md-input-container flex>
                <label class="text-label" for="relationship">Relationship Status:</label>
                <input class="text-label" type="text" name="relationship" ng-model="vm.generalStudent.relationship_status" />
            </md-input-container>
            <md-input-container flex>
                <label class="text-label" for="email">Email:</label>
                <input class="text-label" type="email" name="emaIl" ng-model="vm.generalStudent.email" />
            </md-input-container>
        </div>
        <br />
        <div layout-align="center center">
            <md-container flex>
                <label class="text-label">Date of Birth</label>
                <br>
                <md-datepicker class="date-picker" ng-model="vm.generalStudent.date_of_birth"></md-datepicker>
            </md-container>
        </div>
        <br />
        <div layout-align="center center">
            <md-input-container flex>
                <label class="text-label" for="phone">Phone Number:</label>
                <input class="text-label" type="text" name="phone" ng-model="vm.generalStudent.phone_number" />
            </md-input-container>
            <md-input-container flex>
                <label class="text-label" for="skype">Skype ID:</label>
                <input class="text-label" type="text" name="skype" ng-model="vm.generalStudent.skype" />
            </md-input-container>
        </div>
        <br />
        <div layout-align="center" flex>
            <md-container flex>
                <md-select class="text-label select-element" for="school" name="school" placeholder="Name of School:" ng-model="vm.generalStudent.school_id">
                    <md-option class="text-label select-element" ng-repeat="school in vm.schools.list" value="{{school.school_id}}">
                        <p>{{school.school_name}}</p>
                    </md-option>
                </md-select>
            </md-container>
            <md-input-container flex>
                <label class="text-label" for="code">School Code:</label>
                <input class="text-label" type="text" for="code" name="code" ng-model="vm.generalStudent.school_code" />
            </md-input-container>
        </div>
        <br />
        <md-container>
            <md-button class="md-raised md-primary defaultBtn" ng-click="vm.disclaimer()">Back</md-button>
            <md-button class="md-raised md-primary defaultBtn" ng-click="vm.collectGeneral(vm.generalStudent)">Next</md-button>
        </md-container>
    </md-card>

</div>