<div layout-fill layout="column" layout-align="center center" class="registration-view-text ng-cloak">

    <md-card class="card-element md-padding">
        <div id="myProgress3">
            <div id="myBar3">
                <div class="progress-bar-text">3/5</div>
            </div>
        </div>
        <div layout-padding class="starr-landing">
            <img ng-src="./images/starrhealthlogo.png" />
            <p class="home-page-text">Starr Health Co.</p>
        </div>
        <h2 class="student-goals-title">Student Goals</h2>
        <label class="student-goals-title">What is your primary goal?</label>
        <br />
        <div>
            <md-radio-group class="radio-group" layout="column" ng-model="vm.student_goals.primary_goal">
                <md-radio-button class="label-items radio-value" value="1">Academic Goals</md-radio-button>
                <md-radio-button class="label-items radio-value" value="2">Social Life Goals</md-radio-button>
                <md-radio-button class="label-items radio-value" value="3">Personal Health Goals</md-radio-button>
                <md-radio-button class="label-items radio-value" value="4">Professional Goals</md-radio-button>
                <md-radio-button class="label-items radio-value" value="5">Relationship Goals</md-radio-button>
            </md-radio-group>
        </div>
        <br />
        <div layout-align="center center">
                <br />
                <br />
            <md-input-container flex>
                <label class="label-items overflow" for="secondaryGoals">Do you have any secondary goals?</label>
                <textarea class="label-items" ng-model="vm.student_goals.secondary_goals" md-maxlength="150" rows="3" md-select-on-focus></textarea>
            </md-input-container>
        </div>
        <br />
        <md-container flex>
            <md-button class="md-raised md-primary defaultBtn" ng-click="vm.general()">Back</md-button>
            <md-button class="md-raised md-primary defaultBtn" ng-click="vm.collectGoals(vm.student_goals)">Next</md-button>
        </md-container>
    </md-card>

</div>