<div layout="column" ng-cloak class="md-inline-form registration-view-text" layout-fill layout-align="center center">
    <md-card class="student-goals" hide show-gt-md layout-padding>
        <md-container layout="column" layout-padding>
            <h2 class="student-goals-title">Primary Goal</h2>
            <label class="student-goals-title">What is your primary goal?</label>
            <md-radio-group layout="column" ng-model="vm.student_goals.primary_goal">
                <md-radio-button class="label-items" value="1">Academic Goals</md-radio-button>
                <md-radio-button class="label-items" value="2">Social Life Goals</md-radio-button>
                <md-radio-button class="label-items" value="3">Personal Health Goals</md-radio-button>
                <md-radio-button class="label-items" value="4">Professional Goals</md-radio-button>
                <md-radio-button class="label-items" value="5">Relationship Goals</md-radio-button>
            </md-radio-group>
            <md-input-container class="md-block">
                <label class="label-items" for="secondaryGoals">Do you have any secondary goals?</label>
                <textarea class="label-items" ng-model="vm.student_goals.secondary_goals" md-maxlength="150" rows="3" md-select-on-focus></textarea>
            </md-input-container>
            <div class="container">
                <md-button class="md-raised md-primary defaultBtn" ng-click="vm.general()">Back</md-button>
                <md-button class="md-raised md-primary defaultBtn" ng-click="vm.collectGoals(vm.student_goals)">Next</md-button>
            </div>
        </md-container>
    </md-card>

    <md-card class="student-goals-mobile" hide-gt-md layout-padding>
        <md-container layout="column" layout-padding>
            <h2 class="student-goals-title">Primary Goal</h2>
            <label class="student-goals-title">What is your primary goal?</label>
            <md-radio-group layout="column" ng-model="vm.student_goals.primary_goal">
                <md-radio-button class="label-items" value="1">Academic Goals</md-radio-button>
                <md-radio-button class="label-items" value="2">Social Life Goals</md-radio-button>
                <md-radio-button class="label-items" value="3">Personal Health Goals</md-radio-button>
                <md-radio-button class="label-items" value="4">Professional Goals</md-radio-button>
                <md-radio-button class="label-items" value="5">Relationship Goals</md-radio-button>
            </md-radio-group>
            <md-input-container class="md-block">
                <label class="label-items" for="secondaryGoals">Do you have any secondary goals?</label>
                <textarea class="label-items" ng-model="vm.student_goals.secondary_goals" md-maxlength="150" rows="3" md-select-on-focus></textarea>
            </md-input-container>
            <md-input-container>
                <md-button class="md-raised md-primary defaultBtn" ng-click="vm.general()">Back</md-button>
                <md-button class="md-raised md-primary defaultBtn" ng-click="vm.collectGoals(vm.student_goals)">Next</md-button>
            </md-input-container>
        </md-container>
    </md-card>

</div>