<div layout="column" ng-cloak class="md-inline-form disclaimer" layout-fill layout-align="center center">
<md-card layout-padding  style="height:600px; width:550px; background:rgba(255, 255, 255, 0.9);">
            <div>
    <h2 style="color:rgba(7, 61, 128, 0.8); text-align:center; font-weight:bold;" layout-padding >Primary Goal</h2>
    <md-container>
            <label style="color:rgba(0, 0, 0, 0.7);" layout-padding>What is your primary goal?</label>
        <md-radio-group style="color:rgba(0, 0, 0, 0.7);" layout-padding layout="column" ng-model="vm.student_goals.primary_goal">
            <md-radio-button style="color:rgba(0, 0, 0, 0.7);" class="radio" value="Academic">Academic Goals</md-radio-button>
            <md-radio-button style="color:rgba(0, 0, 0, 0.7);" class="radio" value="Social Life">Social Life Goals</md-radio-button>
            <md-radio-button style="color:rgba(0, 0, 0, 0.7);" class="radio" value="Personal Health">Personal Health Goals</md-radio-button>
            <md-radio-button style="color:rgba(0, 0, 0, 0.7);" class="radio" value="Professional">Professional Goals</md-radio-button>
            <md-radio-button style="color:rgba(0, 0, 0, 0.7);" class="radio" value="Relationships">Relationship Goals</md-radio-button>
        </md-radio-group>
    </md-container>
      <md-input-container class="md-block">
            <label style="color:rgba(0, 0, 0, 0.7);" for="secondaryGoals">Do you have any secondary goals?</label>
        <textarea style="color:rgba(0, 0, 0, 0.7);" ng-model="vm.student_goals.secondary_goals" md-maxlength="150" rows="5" md-select-on-focus></textarea>
          </md-input-container>
        <md-button style="color:white; background-color:rgba(7, 61, 128, 0.8);" class="md-raised md-primary" ng-click="vm.general()">Back</md-button>
        <md-button style="color:white; background-color:rgba(7, 61, 128, 0.8);" class="md-raised md-primary" ng-click="vm.collectGoals(vm.student_goals)">Next</md-button>

    </div>
</md-card>
    </div>