<div layout-fill layout="column" layout-align="center center" class="registration-view-text ng-cloak">

    <md-card class="card-element md-padding">
        <div id="myProgress4">
            <div id="myBar4">
                <div class="progress-bar-text">4/5</div>
            </div>
        </div>
        <div layout-padding class="starr-landing">
            <img ng-src="./images/starrhealthlogo.png" />
            <p class="home-page-text">Starr Health Co.</p>
        </div>
        <h2 class="student-barriers-title">Primary Barriers to Success</h2>
        <label class="student-barriers-title">What are your primary barriers to success?</label>
        <br />
        <div layout-align="center center">
            <md-input-container flex>
                <md-checkbox layout="column" class="student-barriers-text" ng-model="vm.barriers.stress" aria-label="stress">
                    Stress
                </md-checkbox>
                <md-checkbox layout="column" class="student-barriers-text" ng-model="vm.barriers.lack_of_support" aria-label="lack_of_support">
                    Lack of Support
                </md-checkbox>
                <md-checkbox layout="column" class="student-barriers-text" ng-model="vm.barriers.self_confidence" aria-label="self_confidence">
                    Self-Confidence
                </md-checkbox>
                <md-checkbox layout="column" class="student-barriers-text" ng-model="vm.barriers.knowledge" aria-label="knowledge">
                    Knowledge
                </md-checkbox>
                <md-checkbox layout="column" class="student-barriers-text" ng-model="vm.barriers.resources" aria-label="resources">
                    Resources
                </md-checkbox>
                <md-checkbox layout="column" class="student-barriers-text" ng-model="vm.barriers.physical_health" aria-label="physical_health">
                    Physical Health
                </md-checkbox>
                <md-checkbox layout="column" class="student-barriers-text" ng-model="vm.barriers.time" aria-label="time">
                    Time
                </md-checkbox>
            </md-input-container>
        </div>
        <div layout-align="center center">
            <br />
            <br />
            <br />
            <md-input-container flex class="other-barriers">
                <label class="label-items overflow" for="otherBarriers">Do you have any other barriers?</label>
                <textarea class="label-items" ng-model="vm.barriers.other_barriers" md-maxlength="150" rows="3" md-select-on-focus></textarea>
            </md-input-container>
            <br />
            <md-container flex>
                <md-button class="md-raised md-primary defaultBtn" ng-click="vm.goals()">Back</md-button>
                <md-button class="md-raised md-primary defaultBtn" ng-click="vm.collectBarriers(vm.barriers)">Next</md-button>
            </md-container>
    </md-card>

    </div>