<div layout-fill layout="column" layout-align="center center" class="registration-view-text ng-cloak">

    <md-card class="card-element md-padding">
        <br>
        <div layout-padding class="starr-landing">
            <img ng-src="./images/starrhealthlogo.png" />
            <p class="home-page-text">Starr Health Co.</p>
        </div>
        <h2 class="home-title">Change Student Password</h2>
        <div layout-align="center center">
            <md-input-container flex>
                <label for="password">Current Password:</label>
                <input name="password" type="password" ng-model="vm.auth.currentPassword" />
            </md-input-container>
        </div>
        <br />
        <div layout-align="center center">
            <md-input-container flex>
                <label for="passwordOne">New Password:</label>
                <input name="passwordOne" type="password" ng-model="vm.auth.newPasswordOne" />
            </md-input-container>
        </div>
        <br />
        <div layout-align="center center">
            <md-input-container flex>
                <label for="passwordTwo">Confirm New Password:</label>
                <input name="passwordTwo" type="password" ng-model="vm.auth.newPasswordTwo" />
            </md-input-container>
            <br />
            <md-container>
                <md-button class="md-raised md-primary defaultBtn" ng-click="vm.changePassword(vm.auth)">Submit</md-button>
                <md-button class="md-raised md-primary defaultBtn" ng-click="vm.returnFromPass()">Cancel</md-button>
            </md-container>
        </div>
    </md-card>
    </md-card>

</div>