<div class="container">
    <h2>Disclaimer</h2>
    <h4><i>This application, and any information or materials provided in connection with it, is informational only and does not constitute medical advice, care, diagnosis or treatment.
        The Starr Health Co. application is not intended to be a replacement or substitution to the medical advice, care, diagnosis or treatment of a licensed medical practitioner.
        Starr Health Co. recommends that you consult your physician prior to beginning any new health initiative.
    </i></h4>
  </div>
  <div class="container">
    <button ng-click="vm.letPass()">Agree</button>
    <button ng-click="vm.userService.logout()">Reject</button>
</div>