<div layout="column" ng-cloak class="md-inline-form">
    <md-content layout-padding>
        <div>
    <h2>General Info</h2>
    <form name="userForm">
    <md-input-container>
        <label for="firstName">First Name:</label>
        <input type="text" name="firstName" ng-model="vm.generalStudent.first_name">
    </md-input-container>
    <md-input-container>
        <label for="lastName">Last Name:</label>
        <input type="text" name="lastName" ng-model="vm.generalStudent.last_name"/>
    </md-input-container>
    <md-input-container>
        <label for="email">Email:</label>
        <input type="email" name="emaIl" ng-model="vm.generalStudent.email"/>
    </md-input-container>
    <md-input-container>
            <label>Enter date</label>
        <md-datepicker ng-model="vm.generalStudent.date_of_birth"></md-datepicker>
    </md-input-container>
    <md-input-container>
        <label for="relationship">Relationship Status:</label>
        <input type="text" name="relationship" ng-model="vm.generalStudent.relationship_status"/>
    </md-input-container>
    <md-input-container>
        <label for="phone">Phone Number:</label>
        <input type="text" name="phone" ng-model="vm.generalStudent.phone_number"/>
    </md-input-container>
    <md-input-container>
        <label for="skype">Skype ID:</label>
        <input type="text" name="skype" ng-model="vm.generalStudent.skype"/>
    </md-input-container>
    </form>
    <div>
        <label for="school">Name of School:</label>
        <select name="school" ng-model="vm.generalStudent.school_id">
            <option ng-repeat="school in vm.schools" value="{{school.school_id}}">{{school.school_name}}</option>
        </select>
        </div>
    <md-input-container>
        <label for="code">School Code:</label>
        <input type="text" name="code" ng-model="vm.generalStudent.school_code"/>
    </md-input-container>
    </div>
  </div>
  <div class="container">
    <button ng-click="vm.collectGeneral(vm.generalStudent)">Next</button>
    <button ng-click="vm.disclaimer()">Back</button>

</div>
</md-content>
</div>