<md-content flex class="content-element content-element-text" layout="column" layout-align="center center">
        <div flex class="div-element" layout="column" layout-align="center center">
            <md-card flex class="card-element md-padding" layout="column" layout-align="center center">
                <h2 class="home-title">Your Coach</h2>

                <div layout="column" layout-align="top" ng-repeat="coach in vm.myCoach.list">
                    <img ng-src="{{coach.coach_photo}}" width="180px"> </br>
                    {{coach.first_name}} {{coach.last_name}} </br>
                    {{coach.job_title}} </br>
                    {{coach.email}} </br>
                    {{coach.certifications}} </br>
                    {{coach.personal_interests}} </br>
                    {{coach.coach_bio}} </br>
                <div ng-repeat="thing in vm.specialties.list">
                    {{thing.specialty_name}}
                </div>
                <div>
                    <button ng-click="vm.studentCoach(coach.coach_id)">Make Appointment</button>
                    <button ng-click="vm.back()">Back</button>
                </div>
            </div>
            </md-card>
        </div>
    </md-content>