<div ng-cloak layout-fill layout="column" layout-align="center center" class="registration-view-text">

    <md-content class="content-element content-element-text" layout="column" layout-align="center center">
        <div class="div-element" layout="column" layout-align="center center">
            <md-card class="card-element md-padding" layout="row" layout-align="center center" ng-repeat="coach in vm.myCoach.list">
                <h2 class="home-title">{{coach.first_name}} {{coach.last_name}}</h2>
            </md-card>
        </div>
    </md-content>

    <md-content class="content-element content-element-text" layout="column" layout-xs="column">
        <div flex class="div-element" layout="column" layout-align="center center">
            <md-card flex class="card-element profile-card md-padding" ng-repeat="coach in vm.myCoach.list">
                <div class="md-padding groove groove-1" layout-align="start center">
                    <img ng-src="{{coach.coach_photo}}" width="180px" />
                </div>
                <div class="md-padding bio-text groove groove-1" layout-align="center center">
                    <h3>{{coach.job_title}}</h3>
                    <h3>{{coach.email}}</h3>
                </div>
                <div class="md-padding bio-text groove groove-1" layout-align="center center">
                    <h3>{{coach.certifications}}</h3>
                    <h3>{{coach.personal_interests}}</h3>
                    <h3>{{coach.coach_bio}}</h3>
                </div>
                <div class="md-padding bio-text groove groove-1" layout-align="center center">
                    <div ng-repeat="thing in vm.specialties.list">
                        <h3>{{thing.specialty_name}}</h3>
                    </div>
                </div>
                <md-container class="md-padding">
                    <md-button class="md-raised md-primary defaultBtn" ng-click="vm.studentCoach(coach.coach_id)">Make Appointment</md-button>
                    <md-button class="md-raised md-primary defaultBtn" ng-click="vm.back()">Back</md-button>
                </md-container>
        </div>
        </md-card>
</div>
</md-content>

</div>