<header class="ng-cloak" hide-gt-md ng-include="'/views/partials/header.html'"></header>

<div class="ng-cloak" layout="column" layout-fill>

    <section layout="row" flex>
        <!-- Start md-sidenav -->
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
            <div class="starr-sidenav">
                <img ng-src="./images/starrhealthlogo.png" />
                <p class="starr-sidenav-text">Starr Health Co.</p>
                <h1 class="lead">Welcome {{vm.userObject.userName}}!</h1>
            </div>
            <md-content layout-padding hide show-gt-md flex>
                <md-button class="md-raised md-primary selectedBtn" flex ng-click="vm.studentHome()">
                    <i class="material-icons home">home</i>
                    <span>Home Page</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.studentCoach()">
                    <i class="material-icons person">person</i>
                    <span>Your Coach</span>
                </md-button>
                <br />
                <md-button class="md-raised md-warn" flex ng-click="vm.userService.logout()">
                    <i class="material-icons exit-app">exit_to_app</i>
                    <span>Log Out</span>
                </md-button>
            </md-content>
            <md-content layout-padding hide-gt-md flex>
                <md-button class="md-raised md-primary selectedBtn" flex ng-click="vm.studentHome()">
                    <i class="material-icons home">home</i>
                    <span>Home Page</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.studentCoach()">
                    <i class="material-icons person">person</i>
                    <span>Your Coach</span>
                </md-button>
                <br />
                <md-button class="md-raised md-warn" flex ng-click="vm.userService.logout()">
                    <i class="material-icons exit-app">exit_to_app</i>
                    <span>Log Out</span>
                </md-button>
            </md-content>
        </md-sidenav>
        <!-- End md-sidenav -->
        <div class="overflow-1" flex layout="row" layout-align="center center">
            <!-- Start Past Appointments Card -->
            <md-content flex class="content-element content-element-text" layout="column" layout-align="center center">
                <div flex class="div-element" layout="column" layout-align="center center">
                    <md-card flex class="card-element md-padding" layout="column" layout-align="center center">
                        <h2 class="home-title">Your Past Appointments</h2>
                    </md-card>
                    <md-card flex class="card-element md-padding" layout="column" layout-align="center center">
                        <table class="table">
                            <thead class="table-thead">
                                <tr class="table-tr">
                                    <th class="table-th" scope="col">Appt. Date</th>
                                    <th class="table-th" scope="col">Appt. Time</th>
                                    <th class="table-th" scope="col">Session Notes</th>
                                    <th class="table-th" scope="col">View Notes</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="data in vm.myAppts.list">
                                <tr class="table-tr">
                                    <td class="table-td" scope="row" data-label="Appt. Date">{{data.date}}</td>
                                    <td class="table-td" scope="row" data-label="Appt. Time">{{data.available_time}}</td>
                                    <td class="table-td" scope="row" data-label="Session Notes">{{data.notes_status}}</td>
                                    <td class="table-td" scope="row" data-label="View Notes">
                                        <md-button class="md-raised md-primary defaultBtn" ng-href="{{data.session_notes}}" download>Download Session Notes</md-button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </md-card>
                </div>
            </md-content>
            <!-- End Past Appointments Card -->
        </div>

    </section>

</div>