<div class="container">
        <h2>Primary Barriers to Success</h2>
        <div>
            <label>What are your primary barriers to success?:</label>
            <div>
                <input type="checkbox" id="stress" ng-model="vm.barriers.stress" value="stress">
                <label for="stress">Stress</label>
            </div>  
            <div>
                <input type="checkbox" id="support" ng-model="vm.barriers.lack_of_support" value="lack_of_support">
                <label for="support">Lack of Support</label>
            </div>  
            <div>
                <input type="checkbox" id="confidence" ng-model="vm.barriers.self_confidence" value="self_confidence">
                <label for="confidence">Self-Confidence</label>
            </div>
            <div>
                <input type="checkbox" id="knowledge" ng-model="vm.barriers.knowledge" value="knowledge">
                <label for="knowledge">Knowledge</label>
            </div>
            <div>
                <input type="checkbox" id="resources" ng-model="vm.barriers.resources" value="resources">
                <label for="resources">Resources</label>
            </div>
            <div>
                <input type="checkbox" id="health" ng-model="vm.barriers.physical_health" value="physical_health">
                <label for="health">Physical Health</label>
            </div>
            <div>
                <input type="checkbox" id="time" ng-model="vm.barriers.time" value="time">
                <label for="time">Time</label>
            </div>
        </div>
      </div>
      <div class="container">
            <label for="otherBarriers">Do you have any other barriers?:</label>
            <input type="text" name="otherBarriers" ng-model="vm.barriers.other_barriers" placeholder="Any other barriers to success?"/>
      </div>
      <div class="container">
        <button ng-click="vm.collectBarriers(vm.barriers)">Next</button>
        <button ng-click="vm.goals()">Back</button>
    </div>