<header hide-gt-md ng-include="'/views/partials/header.html'"></header>

<div layout="column" layout-fill ng-cloak>

    <section layout="row" flex>
        <!-- Start md-sidenav -->
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
            <div class="starr-sidenav">
                <img ng-src="./images/starrhealthlogo.png" />
                <p class="starr-sidenav-text">Starr Health Co.</p>
                <h1 class="lead">Welcome {{vm.userObject.userName}}!</h1>
            </div>
            <md-content layout-padding hide show-gt-md flex>
                <md-button class="md-raised md-primary selectedBtn" flex ng-click="vm.studentHome()">
                    <i class="material-icons home">home</i>
                    <span>Home Page</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.studentCoach()">
                    <i class="material-icons person">person</i>
                    <span>Your Coach</span>
                </md-button>
                <br />
                <md-button class="md-raised md-warn" flex ng-click="vm.userService.logout()">
                    <i class="material-icons exit-app">exit_to_app</i>
                    <span>Log Out</span>
                </md-button>
            </md-content>
            <md-content layout-padding hide-gt-md flex>
                <md-button class="md-raised md-primary selectedBtn" flex ng-click="vm.studentHome()">
                    <i class="material-icons home">home</i>
                    <span>Home Page</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.studentCoach()">
                    <i class="material-icons person">person</i>
                    <span>Your Coach</span>
                </md-button>
                <br />
                <md-button class="md-raised md-warn" flex ng-click="vm.userService.logout()">
                    <i class="material-icons exit-app">exit_to_app</i>
                    <span>Log Out</span>
                </md-button>
            </md-content>
        </md-sidenav>
        <!-- End md-sidenav -->
        <!-- Put Content In This Div! -->
        <md-content flex class="content-element content-element-text" layout="column" layout-align="center center">
            <div flex class="div-element" layout="column" layout-align="center center">
                <md-card flex class="card-element md-padding" ng-controller="NewController as vm" layout="column" layout-align="center center">
                    <h2 class="home-title">Your Coach</h2>

                    <div layout="column" layout-align="start" ng-repeat="coach in vm.myCoach.list">
                        <img ng-src="{{coach.coach_photo}}" width="180px" class="groove groove-1">
                        <div class="bio-text groove groove-1">
                            <h2>{{coach.first_name}} {{coach.last_name}}</h2>
                            <h3>{{coach.job_title}}</h3>
                            <h4>{{coach.email}}</h4>
                            <h5>{{coach.coach_bio}}</h5>
                        </div>
                    </div>
                </md-card>
            </div>
        </md-content>
        <!-- End Put Content In This Div! -->
    </section>
</div>