<form>
    <div>
        <label for="password">Current Password:</label>
        <input name="password" type="password" ng-model="vm.auth.currentPassword" />
    </div>
    <div>
        <label for="passwordOne">New Password:</label>
        <input name="passwordOne" type="password" ng-model="vm.auth.newPasswordOne" />
    </div>
    <div>
        <label for="passwordTwo">Confirm New Password:</label>
        <input name="passwordTwo" type="password" ng-model="vm.auth.newPasswordTwo" />
    </div>
    <div>
        <button ng-click="vm.changePassword(vm.auth)">Submit</button>
    </div>
</form>