<div layout="column" layout-fill ng-cloak>

    <section layout="row" flex>
        <!-- Start md-sidenav -->
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
            <div class="starr-sidenav">
                <img ng-src="./images/starrhealthlogo.png" />
                <p class="starr-sidenav-text">Starr Health Co.</p>
                <h1 class="lead">Welcome {{vm.userObject.userName}}!</h1>
            </div>
            <md-content layout-padding hide show-gt-md>
                <md-button class="md-raised md-primary" flex ng-click="">
                    <i class="material-icons home">home</i>
                    <span>Home Page</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary selectedBtn" flex ng-click="">
                    <i class="material-icons person">person</i>
                    <span>Your Coach</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="">
                    <i class="material-icons date-range">date_range</i>
                    <span>Your Schedule</span>
                </md-button>
                <br />
                <md-button class="md-raised md-warn" flex ng-click="vm.userService.logout()">
                    <i class="material-icons exit-app">exit_to_app</i>
                    <span>Log Out</span>
                </md-button>
            </md-content>
            <md-content layout-padding hide-gt-md>
                <md-button class="md-raised md-primary" flex ng-click="">
                    <i class="material-icons home">home</i>
                    <span>Home Page</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary selectedBtn" flex ng-click="">
                    <i class="material-icons person">person</i>
                    <span>Your Coach</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="">
                    <i class="material-icons date-range">date_range</i>
                    <span>Your Schedule</span>
                </md-button>
                <br />
                <md-button class="md-raised md-warn" flex ng-click="vm.userService.logout()">
                    <i class="material-icons exit-app">exit_to_app</i>
                    <span>Log Out</span>
                </md-button>
            </md-content>
        </md-sidenav>
        <!-- End md-sidenav -->
        <!-- Put Content In This Div! -->
        <div layout="column" layout-align="top" ng-repeat="coach in vm.myCoach.list">
            {{coach.coach_photo}} </br>
            {{coach.first_name}} {{coach.last_name}} </br>
            {{coach.job_title}} </br>
            {{coach.email}} </br>
            {{coach.certifications}} </br>
            {{coach.personal_interests}} </br>
            {{coach.coach_bio}} </br>
        </div>
        <div ng-repeat="thing in vm.specialties.list">
            {{thing.specialty_name}}
        </div>
        <div flex></div>
        <!-- End Put Content In This Div! -->

    </section>
</div>