<div ng-cloak layout-fill layout="column" layout-align="center center" class="registration-view-text">
    <md-content flex class="content-element content-element-text" layout="column" layout-align="center center">
        <div flex class="div-element" layout="column" layout-align="center center">
            <md-card flex class="card-element md-padding" layout="column" layout-align="center center">
                <h2 class="home-title">Student Home</h2>
                <form>
                    <md-input-container flex>
                        <label for="password">Current Password:</label>
                        <input name="password" type="password" ng-model="vm.auth.currentPassword" />
                    </md-input-container>
                    <md-input-container flex>
                        <label for="passwordOne">New Password:</label>
                        <input name="passwordOne" type="password" ng-model="vm.auth.newPasswordOne" />
                    </md-input-container>
                    <md-input-container flex>
                        <label for="passwordTwo">Confirm New Password:</label>
                        <input name="passwordTwo" type="password" ng-model="vm.auth.newPasswordTwo" />
                    </md-input-container>
                    <br />
                    <md-container>
                        <md-button class="md-raised md-primary defaultBtn" ng-click="vm.changePassword(vm.auth)">Submit</md-button>
                        <md-button class="md-raised md-primary defaultBtn" ng-href="/#!student_home">Cancel</md-button>
                    </md-container>
                </form>
            </md-card>
        </div>
    </md-content>
</div>