<div layout="column" ng-cloak class="md-inline-form">
        <md-content layout="column" layout-padding> 
        <h2>Primary Barriers to Success</h2>
            <label>What are your primary barriers to success?</label>
            <md-checkbox ng-model="stress" aria-label="stress">
                <label for="stress">Stress</label>
            </md-checkbox>  
            <md-checkbox ng-model="lack_of_support" aria-label="lack_of_support">
                <label for="support">Lack of Support</label>
            </md-checkbox>  
            <md-checkbox ng-model="self_confidence" aria-label="self_confidence">
                <label for="confidence">Self-Confidence</label>
            </md-checkbox>
            <md-checkbox ng-model="knowledge" aria-label="knowledge">
                <label for="knowledge">Knowledge</label>
            </md-checkbox>
            <md-checkbox ng-model="resources" aria-label="resources">
                <label for="resources">Resources</label>
            </md-checkbox>
            <md-checkbox ng-model="physical_health" aria-label="physical_health">
                Physical Health
            </md-checkbox>
            <md-checkbox ng-model="time" aria-label="time">
                Time
            </md-checkbox>
            </md-content>
        </div>
      <md-input-container class="md-block">
            <label for="otherBarriers">Do you have any other barriers?</label>
            <textarea ng-model="vm.barriers.other_barriers" md-maxlength="150" rows="5" md-select-on-focus></textarea>
          </md-input-container>
      <div class="container">
        <button ng-click="vm.collectBarriers(vm.barriers)">Next</button>
        <button ng-click="vm.goals()">Back</button>
    </div>