<div layout="column" ng-cloak class="md-inline-form">
        <md-content layout="column" layout-padding> 
        <h2>Primary Barriers to Success</h2>
            <label>What are your primary barriers to success?</label>
            <md-checkbox id="stress" ng-model="vm.barriers.stress" value="stress">
                <label for="stress">Stress</label>
            </md-checkbox>  
            <md-checkbox id="support" ng-model="vm.barriers.lack_of_support" value="lack_of_support">
                <label for="support">Lack of Support</label>
            </md-checkbox>  
            <md-checkbox id="confidence" ng-model="vm.barriers.self_confidence" value="self_confidence">
                <label for="confidence">Self-Confidence</label>
            </md-checkbox>
            <md-checkbox id="knowledge" ng-model="vm.barriers.knowledge" value="knowledge">
                <label for="knowledge">Knowledge</label>
            </md-checkbox>
            <md-checkbox id="resources" ng-model="vm.barriers.resources" value="resources">
                <label for="resources">Resources</label>
            </md-checkbox>
            <md-checkbox id="health" ng-model="vm.barriers.physical_health" value="physical_health">
                <label for="health">Physical Health</label>
            </md-checkbox>
            <md-checkbox id="time" ng-model="vm.barriers.time" value="time">
                <label for="time">Time</label>
            </md-checkbox>
            </md-content>
        </div>
      <md-input-container class="md-block">
            <label for="otherBarriers">Do you have any other barriers?</label>
            <textarea ng-model="vm.barriers.other_barriers" md-maxlength="150" rows="5" md-select-on-focus></textarea>
          </md-input-container>
      <div class="container">
        <button ng-click="vm.collectBarriers(vm.barriers)">Next</button>
        <button ng-click="vm.goals()">Back</button>
    </div>