<header hide-gt-md ng-include="'/views/partials/header.html'"></header>

<div layout="column" layout-fill ng-cloak>

    <section layout="row" flex>

        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
            <div layout-padding class="starr-sidenav">
                <img ng-src="./images/starrhealthlogo.png" />
                <br />
                <img ng-src="./images/starrhealthtext.png" />
            </div>
            <md-content layout-padding hide show-gt-md>
                <h1 id="welcome" class="lead">Welcome {{vm.userObject.userName}}!</h1>
                <md-button style="min-height:50px;min-width:255px;text-align:left;" class="md-raised md-primary" flex ng-click="">
                    <i class="material-icons home">home</i>
                    <span>Home Page</span>
                </md-button>
                <br />
                <md-button style="min-height:50px;min-width:255px;text-align:left;" class="md-raised md-primary" flex ng-click="">
                    <i class="material-icons person">person</i>
                    <span>Your Coach</span>
                </md-button>
                <br />
                <md-button style="min-height:50px;min-width:255px;text-align:left;" class="md-raised md-primary" flex ng-click="">
                    <i class="material-icons date-range">date_range</i>
                    <span>Your Schedule</span>
                </md-button>
                <br />
                <md-button style="min-height:50px;min-width:255px;text-align:left;" class="md-raised md-warn" flex ng-click="vm.userService.logout()">
                    <i class="material-icons exit-app">exit_to_app</i>
                    <span>Log Out</span>
                </md-button>
            </md-content>
            <md-content layout-padding hide-gt-md>
                <h1 id="welcome" class="lead">Welcome {{vm.userObject.userName}}!</h1>
                <md-button style="min-height:50px;min-width:255px;text-align:left;" class="md-raised md-primary" flex ng-click="">
                    <i class="material-icons home">home</i>
                    <span>Home Page</span>
                </md-button>
                <br />
                <md-button style="min-height:50px;min-width:255px;text-align:left;" class="md-raised md-primary" flex ng-click="">
                    <i class="material-icons person">person</i>
                    <span>Your Coach</span>
                </md-button>
                <br />
                <md-button style="min-height:50px;min-width:255px;text-align:left;" class="md-raised md-primary" flex ng-click="">
                    <i class="material-icons date-range">date_range</i>
                    <span>Your Schedule</span>
                </md-button>
                <br />
                <md-button style="min-height:50px;min-width:255px;text-align:left;" class="md-raised md-warn" flex ng-click="vm.userService.logout()">
                    <i class="material-icons exit-app">exit_to_app</i>
                    <span>Log Out</span>
                </md-button>
            </md-content>
        </md-sidenav>

        <md-content layout-padding>
            <div layout="column" layout-align="top">
            </div>
            <div flex></div>
        </md-content>

    </section>
</div>