<header hide-gt-md ng-include="'/views/partials/header.html'"></header>

<div layout="column" layout-fill ng-cloak>

    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
            <div class="starr-sidenav">
                <img ng-src="./images/starrhealthlogo.png" />
                <p class="starr-sidenav-text">Starr Health Co.</p>
                <h1 class="lead">Welcome {{vm.userObject.userName}}!</h1>
            </div>
            <md-content layout-padding hide show-gt-md flex>
                <md-button class="md-raised md-primary" flex ng-click="">
                    <i class="material-icons home">home</i>
                    <span>Home Page</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="">
                    <i class="material-icons person">person</i>
                    <span>Your Coach</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="">
                    <i class="material-icons date-range">date_range</i>
                    <span>Your Schedule</span>
                </md-button>
                <br />
                <md-button class="md-raised md-warn" flex ng-click="vm.userService.logout()">
                    <i class="material-icons exit-app">exit_to_app</i>
                    <span>Log Out</span>
                </md-button>
            </md-content>
            <md-content layout-padding hide-gt-md flex>
                <md-button class="md-raised md-primary" flex ng-click="">
                    <i class="material-icons home">home</i>
                    <span>Home Page</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="">
                    <i class="material-icons person">person</i>
                    <span>Your Coach</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="">
                    <i class="material-icons date-range">date_range</i>
                    <span>Your Schedule</span>
                </md-button>
                <br />
                <md-button class="md-raised md-warn" flex ng-click="vm.userService.logout()">
                    <i class="material-icons exit-app">exit_to_app</i>
                    <span>Log Out</span>
                </md-button>
            </md-content>
        </md-sidenav>

        <!-- Put Content In This Div! -->
        <div layout="column" layout-align="top">
            <div ng-repeat="student in vm.student.list">
                {{student.first_name}} {{student.last_name}}
            </div>
            <div ng-repeat="student in vm.student.list">
                <label for="bio">My Bio:</label>
                <div ng-hide="vm.editing" name="bio">
                    {{student.student_bio}}
                </div>
                <input ng-show="vm.editing" type="text" name="bio" ng-model="vm.newBio" placeholder="Enter a Bio" />
            </div>
            <div ng-repeat="student in vm.student.list">
                <button ng-hide="vm.editing" ng-click="vm.editBio()">Update Bio</button>
                <button ng-show="vm.editing" ng-click="vm.saveBio(student.student_id, vm.newBio)">Save Bio</button>
                <button ng-show="vm.editing" ng-click="vm.cancelBio()">Cancel</button>
            </div>
            <div>
                <button ng-click="vm.newPassword()">Change Password:</button>
            </div>
        </div>
        <div flex></div>
        <!-- End Put Content In This Div! -->

    </section>
</div>