<header class="ng-cloak" hide-gt-md ng-include="'/views/partials/header.html'"></header>

<div class="ng-cloak" layout="column" layout-fill>

  <section layout="row" flex>
    <!-- Start md-sidenav -->
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
      <div class="starr-sidenav">
        <img ng-src="./images/starrhealthlogo.png" />
        <p class="starr-sidenav-text">Starr Health Co.</p>
        <h1 class="lead">Welcome {{vm.userObject.userName}}!</h1>
      </div>
      <md-content layout-padding hide show-gt-md flex>
        <md-button class="md-raised md-primary" flex ng-click="vm.coachHome()">
          <i class="material-icons home">home</i>
          <span>Home Page</span>
        </md-button>
        <br />
        <md-button class="md-raised md-primary" flex ng-click="vm.coachSchedule()">
          <i class="material-icons date-range">date_range</i>
          <span>Scheduling</span>
        </md-button>
        <br />
        <md-button class="md-raised md-primary" flex ng-click="vm.coachAppointmenets()">
          <i class="material-icons date-range">date_range</i>
          <span>All Appointments</span>
        </md-button>
        <br />
        <md-button class="md-raised md-primary selectedBtn" flex ng-click="vm.coachStudents()">
          <i class="material-icons group">group</i>
          <span>Students</span>
        </md-button>
        <br />
        <md-button class="md-raised md-warn" flex ng-click="vm.userService.logout()">
          <i class="material-icons exit-app">exit_to_app</i>
          <span>Log Out</span>
        </md-button>
      </md-content>
      <md-content layout-padding hide-gt-md flex>
        <md-button class="md-raised md-primary" flex ng-click="vm.coachHome()">
          <i class="material-icons home">home</i>
          <span>Home Page</span>
        </md-button>
        <br />
        <md-button class="md-raised md-primary" flex ng-click="vm.coachSchedule()">
          <i class="material-icons date-range">date_range</i>
          <span>Scheduling</span>
        </md-button>
        <br />
        <md-button class="md-raised md-primary" flex ng-click="vm.coachAppointmenets()">
          <i class="material-icons date-range">date_range</i>
          <span>All Appointments</span>
        </md-button>
        <br />
        <md-button class="md-raised md-primary selectedBtn" flex ng-click="vm.coachStudents()">
          <i class="material-icons group">group</i>
          <span>Students</span>
        </md-button>
        <br />
        <md-button class="md-raised md-warn" flex ng-click="vm.userService.logout()">
          <i class="material-icons exit-app">exit_to_app</i>
          <span>Log Out</span>
        </md-button>
      </md-content>
    </md-sidenav>
    <!-- End md-sidenav -->
    <div class="overflow-1" flex layout="row" layout-align="center center">
      <!-- Start Student Directory Card -->
      <md-content class="content-element content-element-text" layout="column" layout-align="center center">
        <div class="div-element" layout="column" layout-align="center center">
          <md-card class="card-element md-padding" layout="row" layout-align="center center">
            <h2 class="home-title">My Students</h2>
          </md-card>

          <md-card flex class="card-element md-padding" layout="column" layout-align="center center">
            <table class="table">
              <thead class="table-thead">
                <tr class="table-tr">
                  <th class="table-th" scope="col">First Name</th>
                  <th class="table-th" scope="col">Last Name</th>
                  <th class="table-th" scope="col">School Name</th>
                  <th class="table-th" scope="col">Phone Number</th>
                  <th class="table-th" scope="col">Email</th>
                  <th class="table-th" scope="col">More Information</th>
                </tr>
              </thead>
              <tbody ng-repeat="student in vm.coachesStudents.list">
                <tr class="table-tr">
                  <td class="table-td" scope="row" data-label="First Name">{{student.first_name}}</td>
                  <td class="table-td" scope="row" data-label="Last Name">{{student.last_name}}</td>
                  <td class="table-td" scope="row" data-label="Job Title">{{student.school_name}}</td>
                  <td class="table-td" scope="row" data-label="Phone Number">{{student.phone_number}}</td>
                  <td class="table-td" scope="row" data-label="Email">{{student.email}}</td>
                  <td class="table-td" scope="row" data-label="More Information">
                    <md-button class="md-raised md-primary defaultBtn" ng-click="vm.moreInfo(student.id)">More Info</md-button>
                  </td>
                </tr>
              </tbody>
            </table>
          </md-card>
        </div>
      </md-content>
      <!-- End Student Directory Card -->
    </div>

  </section>

</div>