<div layout="column" ng-cloak layout-fill layout-align="center center">
    <md-card class="changePasswordCard">
        <h3 class="schedule-title">Change Password</h3>
        <form>
            <md-input-container>
                <label for="password">Current Password:</label>
                <input name="password" type="password" ng-model="vm.auth.currentPassword" />
            </md-input-container>
            <md-input-container>
                <label for="passwordOne">New Password:</label>
                <input name="passwordOne" type="password" ng-model="vm.auth.newPasswordOne" />
            </md-input-container>
            <md-input-container>
                <label for="passwordTwo">Confirm New Password:</label>
                <input name="passwordTwo" type="password" ng-model="vm.auth.newPasswordTwo" />
            </md-input-container>
            <div>
                <md-button class="md-raised md-primary defaultBtn" ng-click="vm.changePassword(vm.auth)">Submit</md-button>
                <md-button class="md-raised md-primary defaultBtn" ng-href="/#!coach_Home">Cancel</md-button>
            </div>
        </form>
    </md-card>
</div>