<header class="ng-cloak" hide-gt-md ng-include="'/views/partials/header.html'"></header>

<div class="ng-cloak no-overflow" layout="column" layout-fill>

  <section layout="row" flex>
    <!-- Start md-sidenav -->
    <md-sidenav flex class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
      <div class="starr-sidenav">
        <img ng-src="./images/starrhealthlogo.png" />
        <p class="starr-sidenav-text">Starr Health Co.</p>
        <h1 class="lead">Welcome {{vm.userObject.userName}}!</h1>
      </div>
      <md-content layout-padding hide show-gt-md flex>
        <md-button class="md-raised md-primary" flex ng-click="vm.coachHome()">
          <i class="material-icons home">home</i>
          <span>Home Page</span>
        </md-button>
        <br />
        <md-button class="md-raised md-primary" flex ng-click="vm.coachSchedule()">
          <i class="material-icons date-range">date_range</i>
          <span>Scheduling</span>
        </md-button>
        <br />
        <md-button class="md-raised md-primary" flex ng-click="vm.coachAppointmenets()">
          <i class="material-icons date-range">date_range</i>
          <span>All Appointments</span>
        </md-button>
        <br />
        <md-button class="md-raised md-primary selectedBtn" flex ng-click="vm.coachStudents()">
          <i class="material-icons group">group</i>
          <span>Students</span>
        </md-button>
        <br />
        <md-button class="md-raised md-warn" flex ng-click="vm.userService.logout()">
          <i class="material-icons exit-app">exit_to_app</i>
          <span>Log Out</span>
        </md-button>
      </md-content>
      <md-content layout-padding hide-gt-md flex>
        <md-button class="md-raised md-primary" flex ng-click="vm.coachHome()">
          <i class="material-icons home">home</i>
          <span>Home Page</span>
        </md-button>
        <br />
        <md-button class="md-raised md-primary" flex ng-click="vm.coachSchedule()">
          <i class="material-icons date-range">date_range</i>
          <span>Scheduling</span>
        </md-button>
        <br />
        <md-button class="md-raised md-primary" flex ng-click="vm.coachAppointmenets()">
          <i class="material-icons date-range">date_range</i>
          <span>All Appointments</span>
        </md-button>
        <br />
        <md-button class="md-raised md-primary selectedBtn" flex ng-click="vm.coachStudents()">
          <i class="material-icons group">group</i>
          <span>Students</span>
        </md-button>
        <br />
        <md-button class="md-raised md-warn" flex ng-click="vm.userService.logout()">
          <i class="material-icons exit-app">exit_to_app</i>
          <span>Log Out</span>
        </md-button>
      </md-content>
    </md-sidenav>
    <!-- End md-sidenav -->
    <div class="overflow-1" flex layout="row" layout-align="center center">
      <!-- Start More Information Card -->
      <md-content flex class="content-element content-element-text" layout="column" layout-align="center center">
        <div class="div-element" layout="column" layout-align="center center">
          <md-card class="card-element md-padding" layout="row" layout-align="center center" ng-repeat="student in vm.myStudent.list">
            <h2 class="home-title">{{student.first_name}} {{student.last_name}}'s Info</h2>
          </md-card>
          <md-card layout-align="center center" flex layout="row" class="card-element md-padding">
            <table class="table">
              <thead class="table-thead">
                <tr class="table-tr">
                  <th class="table-th" scope="col">First Name</th>
                  <th class="table-th" scope="col">Last Name</th>
                  <th class="table-th" scope="col">School Name</th>
                  <th class="table-th" scope="col">Phone Number</th>
                  <th class="table-th" scope="col">Email</th>
                  <th class="table-th" scope="col">Skype ID</th>
                </tr>
              </thead>
              <tbody ng-repeat="student in vm.myStudent.list">
                <tr class="table-tr">
                  <td class="table-td" scope="row" data-label="First Name">{{student.first_name}}</td>
                  <td class="table-td" scope="row" data-label="Last Name">{{student.last_name}}</td>
                  <td class="table-td" scope="row" data-label="School Name">{{student.school_name}}</td>
                  <td class="table-td" scope="row" data-label="Phone Number">{{student.phone_number}}</td>
                  <td class="table-td" scope="row" data-label="Email">{{student.email}}</td>
                  <td class="table-td" scope="row" data-label="Skype ID">{{student.skype_id}}</td>
                </tr>
              </tbody>
            </table>
          </md-card>
          <md-card layout-align="center center" flex layout="row" class="card-element md-padding">
            <table class="table">
              <thead class="table-thead">
                <tr class="table-tr">
                  <th class="table-th" scope="col">Set Goal</th>
                  <th class="table-th" scope="col">Relationship Status</th>
                  <th class="table-th" scope="col">Other Goals</th>
                  <th class="table-th" scope="col">Working With Professionals?</th>
                  <th class="table-th" scope="col">Other Information</th>
                </tr>
              </thead>
              <tbody ng-repeat="student in vm.myStudent.list">
                <tr class="table-tr">
                  <td class="table-td" scope="row" data-label="Set Goal">{{student.specialty_name}}</td>
                  <td class="table-td" scope="row" data-label="Relationship Status">{{student.relationship_status}}</td>
                  <td class="table-td" scope="row" data-label="Other Goals">{{vm.othergoals}}</td>
                  <td class="table-td" scope="row" data-label="Working With Professionals?">{{vm.professionals}}</td>
                  <td class="table-td" scope="row" data-label="Other Information">{{vm.otherinfo}}</td>
                </tr>
              </tbody>
            </table>
          </md-card>
          <md-card layout-align="center center" flex layout="column" class="card-element md-padding">
            <table class="table">
              <thead class="table-thead">
                <tr class="table-tr">
                  <th class="table-th" scope="col">Appt. Date</th>
                  <th class="table-th" scope="col">Appt. Time</th>
                  <th class="table-th" scope="col">Session Notes</th>
                  <th class="table-th" scope="col">Add Notes</th>
                </tr>
              </thead>
              <tbody ng-repeat="data in vm.studentAppts.list">
                <tr class="table-tr">
                  <td class="table-td" scope="row" data-label="Appt. Date">{{data.date}}</td>
                  <td class="table-td" scope="row" data-label="Appt. Time">{{data.available_time}}</td>
                  <td class="table-td" scope="row" data-label="Session Notes">{{data.notes_status}}</td>
                  <td class="table-td" scope="row" data-label="Add Notes">
                    <md-button class="md-raised md-primary defaultBtn" ng-click="vm.addNotes(data.calendar_id, data.student_id)">Add Session Notes</md-button>
                  </td>
                </tr>
              </tbody>
            </table>
          </md-card>

          <md-card layout-align="center center" flex layout="row" class="card-element md-padding">
            <md-input-container class="md-padding" ng-repeat="student in vm.myStudent.list">
              <label class="text-label" for="message">Message:</label>
              <input class="text-label" type="text" name="message" ng-model="vm.message" />
              <md-button class="md-raised md-primary defaultBtn" ng-click="vm.late(student.student_id, vm.message)">Send Message to Student</md-button>
            </md-input-container>
          </md-card>
        </div>
      </md-content>
      <!-- End More Information Card -->
    </div>

  </section>

</div>