<header class="ng-cloak" hide-gt-md ng-include="'/views/partials/header.html'"></header>

<div class="ng-cloak" layout="column" layout-fill>

  <section layout="row" flex>
    <!-- Start md-sidenav -->
    <md-sidenav flex class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
      <div class="starr-sidenav">
        <img ng-src="./images/starrhealthlogo.png" />
        <p class="starr-sidenav-text">Starr Health Co.</p>
        <h1 class="lead">Welcome {{vm.userObject.userName}}!</h1>
      </div>
      <md-content layout-padding hide show-gt-md flex>
        <md-button class="md-raised md-primary" flex ng-click="vm.coachHome()">
          <i class="material-icons home">home</i>
          <span>Home Page</span>
        </md-button>
        <br />
        <md-button class="md-raised md-primary" flex ng-click="vm.coachSchedule()">
          <i class="material-icons date-range">date_range</i>
          <span>Scheduling</span>
        </md-button>
        <br />
        <md-button class="md-raised md-primary" flex ng-click="vm.coachAppointmenets()">
          <i class="material-icons date-range">date_range</i>
          <span>All Appointments</span>
        </md-button>
        <br />
        <md-button class="md-raised md-primary selectedBtn" flex ng-click="vm.coachStudents()">
          <i class="material-icons group">group</i>
          <span>Students</span>
        </md-button>
        <br />
        <md-button class="md-raised md-warn" flex ng-click="vm.userService.logout()">
          <i class="material-icons exit-app">exit_to_app</i>
          <span>Log Out</span>
        </md-button>
      </md-content>
      <md-content layout-padding hide-gt-md flex>
        <md-button class="md-raised md-primary" flex ng-click="vm.coachHome()">
          <i class="material-icons home">home</i>
          <span>Home Page</span>
        </md-button>
        <br />
        <md-button class="md-raised md-primary" flex ng-click="vm.coachSchedule()">
          <i class="material-icons date-range">date_range</i>
          <span>Scheduling</span>
        </md-button>
        <br />
        <md-button class="md-raised md-primary" flex ng-click="vm.coachAppointmenets()">
          <i class="material-icons date-range">date_range</i>
          <span>All Appointments</span>
        </md-button>
        <br />
        <md-button class="md-raised md-primary selectedBtn" flex ng-click="vm.coachStudents()">
          <i class="material-icons group">group</i>
          <span>Students</span>
        </md-button>
        <br />
        <md-button class="md-raised md-warn" flex ng-click="vm.userService.logout()">
          <i class="material-icons exit-app">exit_to_app</i>
          <span>Log Out</span>
        </md-button>
      </md-content>
    </md-sidenav>
    <!-- End md-sidenav -->
    <!-- Put Content In This Div! -->
    <div flex>
      <md-content class="content-element content-element-text" layout="column" layout-align="center center">
        <div class="div-element" layout="column" layout-align="center center">
          <md-card class="card-element md-padding" layout="row" layout-align="center center" ng-repeat="student in vm.myStudent.list">
            <h2 class="home-title">{{student.first_name}} {{student.last_name}}'s Info</h2>
          </md-card>
        </div>
      </md-content>

      <md-content class="content-element content-element-text" layout="row" layout-align="center center">
        <div class="div-element" layout="row" layout-align="center center" layout-xs="column">
          <md-card layout-align="center center" flex layout="row" class="card-element md-padding" ng-repeat="student in vm.myStudent.list">
            <div layout-align="center center" class="groove groove-1 md-padding">
              <h3><u>Full Name</u></h3>
              <h4>{{student.first_name}} {{student.last_name}}</h4>
              <h3><u>Attending School</u></h3>
              <h4>{{student.school_name}}</h4>
              <h3><u>Set Goal</u></h3>
              <h4>{{student.specialty_name}}</h4>
              <h3><u>Phone Number</u></h3>
              <h4>{{student.phone_number}}</h4>
              <h3><u>Skype ID</u></h3>
              <h4>{{student.skype_id}}</h4>
              <h3><u>Email Address</u></h3>
              <h4>{{student.email}}</h4>
              <h3><u>Relationship Status</u></h3>
              <h4>{{student.relationship_status}}</h4>
              <h3><u>Other Goals</u></h3>
              <h4>{{student.other_goals}}</h4>
              <h3><u>Working With Other Professionals</u></h3>
              <h4>{{student.other_professionals}}</h4>
              <h3><u>Any Other Information</u></h3>
              <h4>{{student.other_information}}</h4>
            </div>
          </md-card>
        </div>
      </md-content>

      <md-content class="content-element content-element-text" layout="row">
        <div flex class="div-element" layout="row" layout-align="center center" layout-xs="column">
          <md-card layout-align="center center" flex layout="row" class="card-element md-padding" ng-repeat="student in vm.myStudent.list">
            <h2 class="student-title">{{student.first_name}} {{student.last_name}}'s Past Appointments</h2>
              <table>
                <thead>
                  <tr>
                    <th>Appt. Date</th>
                    <th>Appt. Time</th>
                    <th>Session Notes</th>
                    <th>Add Notes</th>
                  </tr>
                </thead>
                <tbody ng-repeat="data in vm.studentAppts.list">
                  <tr>
                    <td>{{data.date}}</td>
                    <td>{{data.available_time}}</td>
                    <td>{{data.notes_status}}</td>
                    <td>
                      <button ng-click="vm.addNotes(data.calendar_id, data.student_id)">Add Session Notes</button>
                    </td>
                  </tr>
                </tbody>
              </table>
          </md-card>
          <div ng-repeat="student in vm.myStudent.list">
          <label class="text-label" for="message">Message:</label>
          <input class="text-label" type="text" name="message" ng-model="vm.message" />
          <button ng-click="vm.late(student.student_id, vm.message)">Send Message to Student</button>
        </div>
          </div>
      </md-content>
      </div>
      <!-- End Put Content In This Div! -->
  </section>
  </div>